@model IEnumerable<EmployeeApplication.Models.Employee>

@{
    ViewBag.Title = "Employee Application";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "CreateEmployee")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
        <th>@Html.DisplayNameFor(model => model.Salary)</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            <td>
                @if (ViewBag.Dep != null)
                {
                    foreach (var m in @ViewBag.Dep)
                    {
                        if (item.DepartmentId == m.Id)
                        {
                            @m.DepartmentName
                        }
                    }
                }
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "EmployeeDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
